In [1]:
import os
import pandas as pd
import numpy as np
pd.set_option("display.max_colwidth", 2)

os.chdir("/home/coinse/Workspace/SBFL")

# Load bug info

In [2]:
from scripts.util import load_bug_data, find_covmat_func, find_covmat_idx
from functools import reduce
from typing import Set

pid, vid = "wireshark", 2

bug = load_bug_data(pid, vid)

print(f"{bug.buggy_files=}")
print(f"{bug.buggy_lines=}")
print("bug.coverage_df=")
display(bug.coverage_df)
print(f"{bug.failing_tests=}")
print(f"{bug.failing_tests_GT=}")
print("bug.functions={", end="")
for func in list(bug.functions)[:5]:
    print(f"{func},", end=" ")
print(", ...}")
print(f"{bug.id=}")
print(f"{bug.num_test_cases=}")
print(f"{bug.passing_tests=}")
print(f"{bug.path_to_cov_df=}")
print(f"{bug.path_to_patch=}")
print(f"{bug.path_to_test_results=}")
print("bug.source_files=", end="")
for src in list(bug.source_files)[:5]:
    print(f"{src},", end=" ")
print(", ...}")

fault_idxs = sorted(bug.buggy_lines)
# fault_idx2meth = {}
fault_meth2idx = {}
err_msg = ""
for fault_idx in fault_idxs:
    succ_func, ret_func = find_covmat_func(
        pid, bug.coverage_df, fault_idx, debug=False
    )
    if succ_func:
        succ_idx, ret_idx = find_covmat_idx(
            pid, bug.coverage_df, fault_idx, debug=False
        )
        if succ_idx:
            if ret_func in fault_meth2idx:
                fault_meth2idx[ret_func].add(ret_idx)
            else:
                fault_meth2idx[ret_func] = {ret_idx}
        else:
            print(f"{ret_idx}")
            if ret_func not in fault_meth2idx:
                fault_meth2idx[ret_func] = set()
    else:
        print(f"{ret_func}")
# fault_meths: Set = reduce(
#     lambda x, y: x | set([y]), fault_idx2meth.values(), set()
# )
# fault_meth2idx = {
#     v: {idx for idx in fault_idx2meth if fault_idx2meth[idx] == v}
#     for v in fault_meths
# }
fault_meths = set(fault_meth2idx.keys())
for meth in fault_meth2idx:
    print(f"{meth=}: {fault_meth2idx[meth]}")
# print(f"{fault_meths=}")

bug.buggy_files={'epan/wslua/wslua_tvb.c'}
bug.buggy_lines={('epan/wslua/wslua_tvb.c', 1404), ('epan/wslua/wslua_tvb.c', 1403), ('epan/wslua/wslua_tvb.c', 1402), ('epan/wslua/wslua_tvb.c', 1405), ('epan/wslua/wslua_tvb.c', 1401)}
bug.coverage_df=

                                                                                         23  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   432
                                                                                  177   432
                                                                                  199   432
                                                                                  203   432
                                                                                  205   432
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  432
                                                                                  1721  432
                                                                                  1723  432
                                                                                  1724  432
                                                                                  1725  432

                                                                                         26  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   451
                                                                                  177   451
                                                                                  199   451
                                                                                  203   451
                                                                                  205   451
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  451
                                                                                  1721  451
                                                                                  1723  451
                                                                                  1724  451
                                                                                  1725  451

                                                                                         30  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   467
                                                                                  177   467
                                                                                  199   467
                                                                                  203   467
                                                                                  205   467
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  467
                                                                                  1721  467
                                                                                  1723  467
                                                                                  1724  467
                                                                                  1725  467

                                                                                         19  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   402
                                                                                  177   402
                                                                                  199   402
                                                                                  203   402
                                                                                  205   402
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  402
                                                                                  1721  402
                                                                                  1723  402
                                                                                  1724  402
                                                                                  1725  402

                                                                                         12  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   316
                                                                                  177   316
                                                                                  199   316
                                                                                  203   316
                                                                                  205   316
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  316
                                                                                  1721  316
                                                                                  1723  316
                                                                                  1724  316
                                                                                  1725  316

                                                                                         17  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   373
                                                                                  177   373
                                                                                  199   373
                                                                                  203   373
                                                                                  205   373
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  373
                                                                                  1721  373
                                                                                  1723  373
                                                                                  1724  373
                                                                                  1725  373

                                                                                         13  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   322
                                                                                  177   322
                                                                                  199   322
                                                                                  203   322
                                                                                  205   322
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  322
                                                                                  1721  322
                                                                                  1723  322
                                                                                  1724  322
                                                                                  1725  322

                                                                                         34  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   582
                                                                                  177   582
                                                                                  199   582
                                                                                  203   582
                                                                                  205   582
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  582
                                                                                  1721  582
                                                                                  1723  582
                                                                                  1724  582
                                                                                  1725  582

                                                                                         16  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   370
                                                                                  177   370
                                                                                  199   370
                                                                                  203   370
                                                                                  205   370
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  370
                                                                                  1721  370
                                                                                  1723  370
                                                                                  1724  370
                                                                                  1725  370

                                                                                         27  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   451
                                                                                  177   451
                                                                                  199   451
                                                                                  203   451
                                                                                  205   451
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  451
                                                                                  1721  451
                                                                                  1723  451
                                                                                  1724  451
                                                                                  1725  451

                                                                                        ...  \
file                                                  function                    line  ...
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   ...
                                                                                  177   ...
                                                                                  199   ...
                                                                                  203   ...
                                                                                  205   ...
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  ...
                                                                                  1721  ...
                                                                                  1723  ...
                                                                                  1724  ...
                                                                                  1725  ...

                                                                                          4  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   189
                                                                                  177   189
                                                                                  199   189
                                                                                  203   189
                                                                                  205   189
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  189
                                                                                  1721  189
                                                                                  1723  189
                                                                                  1724  189
                                                                                  1725  189

                                                                                         15  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   367
                                                                                  177   367
                                                                                  199   367
                                                                                  203   367
                                                                                  205   367
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  367
                                                                                  1721  367
                                                                                  1723  367
                                                                                  1724  367
                                                                                  1725  367

                                                                                         31  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   514
                                                                                  177   514
                                                                                  199   514
                                                                                  203   514
                                                                                  205   514
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  514
                                                                                  1721  514
                                                                                  1723  514
                                                                                  1724  514
                                                                                  1725  514

                                                                                         29  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   467
                                                                                  177   467
                                                                                  199   467
                                                                                  203   467
                                                                                  205   467
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  467
                                                                                  1721  467
                                                                                  1723  467
                                                                                  1724  467
                                                                                  1725  467

                                                                                         22  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   432
                                                                                  177   432
                                                                                  199   432
                                                                                  203   432
                                                                                  205   432
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  432
                                                                                  1721  432
                                                                                  1723  432
                                                                                  1724  432
                                                                                  1725  432

                                                                                          8  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   235
                                                                                  177   235
                                                                                  199   235
                                                                                  203   235
                                                                                  205   235
...                                                                                     ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  235

bug.failing_tests={'34'}
bug.failing_tests_GT={'34'}
bug.functions={('/home/workspace/epan/dissectors/packet-bthci_vendor.c', 'proto_reg_handoff_bthci_vendor_intel'), ('/home/workspace/tools/lemon/lemon.c', 'preprocess_input'), ('/home/workspace/epan/tvbuff.c', 'tvb_get_letohs'), ('/home/workspace/epan/dissectors/packet-zbee-zcl-ha.c', 'proto_register_zbee_zcl_appl_stats'), ('/home/workspace/epan/dissectors/packet-ubertooth.c', 'proto_reg_handoff_ubertooth'), , ...}
bug.id='wireshark-2'
bug.num_test_cases=34
bug.passing_tests={'7', '1', '5', '11', '31', '24', '20', '21', '32', '6', '26', '12', '14', '27', '16', '29', '22', '10', '9', '25', '4', '15', '33', '19', '18', '2', '13', '3', '28', '8', '23', '17', '30'}
bug.path_to_cov_df='/home/coinse/Workspace/defects4cpp/coverage/wireshark_2_buggy/coverage_df.pkl'
bug.path_to_patch='/home/coinse/Workspace/defects4cpp/defects4cpp/taxonomy/wireshark/patch/0002-buggy.patch'
bug.path_to_test_results='/home/coinse/Workspace/defects4cpp/coverage/wireshark_2_buggy/test_results.json'
bug.source_files=/home/workspace/epan/in_cksum.c, /home/workspace/plugins/epan/gryphon/packet-gryphon.c, /home/workspace/epan/dtd_parse.l, /home/workspace/epan/dissectors/packet-rtcdc.c, /home/workspace/epan/xdlc.c, , ...}
('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring', 1401)
('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring', 1403)
meth=('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring'): {('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring', 1402), ('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring', 1404), ('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring', 1405)}

# Get spectra

In [3]:
covmat = bug.coverage_df
pass_tcs = bug.passing_tests
fail_tcs = bug.failing_tests

covmat_bool = covmat.astype(bool)
P = len(pass_tcs)
F = len(fail_tcs)
e_p = covmat_bool[pass_tcs].sum(axis=1)
e_f = covmat_bool[fail_tcs].sum(axis=1)
n_p = P - e_p
n_f = F - e_f
spectra = pd.DataFrame(
    {
        "line": covmat.index.to_list(),
        "e_p": e_p,
        "e_f": e_f,
        "n_p": n_p,
        "n_f": n_f,
    }
)

display(spectra)

                                                                                                                                                                             line  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   (/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap, 174)
                                                                                  177   (/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap, 177)
                                                                                  199   (/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap, 199)
                                                                                  203   (/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap, 203)
                                                                                  205   (/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap, 205)
...                                                                                                                                                                           ...
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  (/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns, 1720)
                                                                                  1721  (/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns, 1721)
                                                                                  1723  (/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns, 1723)
                                                                                  1724  (/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns, 1724)
                                                                                  1725  (/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns, 1725)

                                                                                        e_p  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   33
                                                                                  177   33
                                                                                  199   33
                                                                                  203   33
                                                                                  205   33
...                                                                                     ..
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  33
                                                                                  1721  33
                                                                                  1723  33
                                                                                  1724  33
                                                                                  1725  33

                                                                                        e_f  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   1
                                                                                  177   1
                                                                                  199   1
                                                                                  203   1
                                                                                  205   1
...                                                                                    ..
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  1
                                                                                  1721  1
                                                                                  1723  1
                                                                                  1724  1
                                                                                  1725  1

                                                                                        n_p  \
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   0
                                                                                  177   0
                                                                                  199   0
                                                                                  203   0
                                                                                  205   0
...                                                                                    ..
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  0
                                                                                  1721  0
                                                                                  1723  0
                                                                                  1724  0
                                                                                  1725  0

                                                                                        n_f
file                                                  function                    line
/home/workspace/epan/dissectors/packet-gluster_pmap.c proto_register_gluster_pmap 174   0
                                                                                  177   0
                                                                                  199   0
                                                                                  203   0
                                                                                  205   0
...                                                                                    ..
/home/workspace/epan/dissectors/packet-isns.c         proto_reg_handoff_isns      1720  0
                                                                                  1721  0
                                                                                  1723  0
                                                                                  1724  0
                                                                                  1725  0

[96703 rows x 5 columns]

# Compute suspiciousness scores

In [4]:
def ochiai(e_f, e_p, n_f, n_p):
    return e_f / np.sqrt(e_p + e_f) / np.sqrt(e_f + n_f) if e_f else 0.0


def op2(e_f, e_p, n_f, n_p):
    return e_f - e_p / (e_p + n_p + 1)

spectra["Sop2"] = spectra.apply(
    lambda row: op2(row.e_f, row.e_p, row.n_f, row.n_p), axis=1
)
spectra["Sochiai"] = spectra.apply(
    lambda row: ochiai(row.e_f, row.e_p, row.n_f, row.n_p), axis=1
)
spectra["Rop2"] = spectra.Sop2.rank(ascending=False, method="max")
spectra["Rochiai"] = spectra.Sochiai.rank(ascending=False, method="max")

# Line level SBFL

In [5]:
for fault_meth in fault_meth2idx:
    fault_idxs_of_meth = fault_meth2idx[fault_meth]
    print("fault meth:", fault_meth)
    for fault_idx in fault_idxs_of_meth:
        print("fault idx:", tuple(fault_idx))
    print("SBFL score of faulty method:")
    display(spectra.loc[fault_idxs_of_meth].reset_index(drop=True))

print("Top 5 SBFL scores:")
print("Op2:")
display(
    spectra.sort_values("Sop2", ascending=False).head(5).reset_index(drop=True)
)
print("Ochiai:")
display(
    spectra.sort_values("Sochiai", ascending=False)
    .head(5)
    .reset_index(drop=True)
)

fault meth: ('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring')
fault idx: ('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring', 1402)
fault idx: ('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring', 1404)
fault idx: ('/home/workspace/epan/wslua/wslua_tvb.c', 'TvbRange__tostring', 1405)
SBFL score of faulty method:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai
0,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring, 1402)",0,1,33,0,1.0,1.0,5026.0,5026.0
1,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring, 1404)",0,1,33,0,1.0,1.0,5026.0,5026.0
2,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring, 1405)",0,1,33,0,1.0,1.0,5026.0,5026.0

Top 5 SBFL scores:
Op2:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai
0,"(/home/workspace/epan/wslua/wslua_file_handler.c, wslua_filehandler_open, 183)",0,1,33,0,1.0,1.0,5026.0,5026.0
1,"(/home/workspace/epan/proto.c, proto_free_field_strings, 7773)",0,1,33,0,1.0,1.0,5026.0,5026.0
2,"(/home/workspace/epan/proto.c, proto_free_field_strings, 7785)",0,1,33,0,1.0,1.0,5026.0,5026.0
3,"(/home/workspace/epan/proto.c, proto_free_field_strings, 7784)",0,1,33,0,1.0,1.0,5026.0,5026.0
4,"(/home/workspace/epan/proto.c, proto_free_field_strings, 7780)",0,1,33,0,1.0,1.0,5026.0,5026.0

Ochiai:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai
0,"(/home/workspace/epan/wslua/wslua_file_handler.c, wslua_filehandler_open, 183)",0,1,33,0,1.0,1.0,5026.0,5026.0
1,"(/home/workspace/epan/proto.c, proto_free_field_strings, 7773)",0,1,33,0,1.0,1.0,5026.0,5026.0
2,"(/home/workspace/epan/proto.c, proto_free_field_strings, 7785)",0,1,33,0,1.0,1.0,5026.0,5026.0
3,"(/home/workspace/epan/proto.c, proto_free_field_strings, 7784)",0,1,33,0,1.0,1.0,5026.0,5026.0
4,"(/home/workspace/epan/proto.c, proto_free_field_strings, 7780)",0,1,33,0,1.0,1.0,5026.0,5026.0

# Method level SBFL

In [6]:
spectra["file"] = spectra.index.map(lambda x: x[0])
spectra["func"] = spectra.index.map(lambda x: x[1])
spectra["line"] = spectra.index.map(lambda x: x[2])
# (file, func) is meth
spectra["meth"] = spectra.apply(lambda row: (row.file, row.func), axis=1)
spectra.reset_index(drop=True, inplace=True)
display(spectra)

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth
0,174,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-gluster_pmap.c,proto_register_gluster_pmap,"(/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap)"
1,177,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-gluster_pmap.c,proto_register_gluster_pmap,"(/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap)"
2,199,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-gluster_pmap.c,proto_register_gluster_pmap,"(/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap)"
3,203,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-gluster_pmap.c,proto_register_gluster_pmap,"(/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap)"
4,205,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-gluster_pmap.c,proto_register_gluster_pmap,"(/home/workspace/epan/dissectors/packet-gluster_pmap.c, proto_register_gluster_pmap)"
...,...,...,...,...,...,...,...,...,...,...,...,...
96698,1720,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-isns.c,proto_reg_handoff_isns,"(/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns)"
96699,1721,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-isns.c,proto_reg_handoff_isns,"(/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns)"
96700,1723,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-isns.c,proto_reg_handoff_isns,"(/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns)"
96701,1724,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-isns.c,proto_reg_handoff_isns,"(/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns)"
96702,1725,33,1,0,0,0.029412,0.171499,96593.0,96593.0,/home/workspace/epan/dissectors/packet-isns.c,proto_reg_handoff_isns,"(/home/workspace/epan/dissectors/packet-isns.c, proto_reg_handoff_isns)"

## Max aggregation

In [7]:
print("[Op2]")
spectra_max_op2 = spectra.copy().sort_values(
    ["Sop2", "meth", "line"], ascending=False
)
spectra_max_op2.drop_duplicates(subset="meth", keep="first", inplace=True)
spectra_max_op2 = spectra_max_op2[
    ["meth", "line", "e_p", "e_f", "n_p", "n_f", "Sop2"]
]
spectra_max_op2["Rop2"] = spectra_max_op2.Sop2.rank(
    ascending=False, method="max"
)
print("Faulty method:")
display(
    spectra_max_op2.loc[spectra_max_op2.meth.isin(fault_meths)].reset_index(
        drop=True
    )
)
print("Top 20 methods:")
display(spectra_max_op2.head(20).reset_index(drop=True))
print()
print("[Ochiai]")
spectra_max_ochiai = spectra.copy().sort_values(
    ["Sochiai", "meth", "line"], ascending=False
)
spectra_max_ochiai.drop_duplicates(subset="meth", keep="first", inplace=True)
spectra_max_ochiai = spectra_max_ochiai[
    ["meth", "line", "e_p", "e_f", "n_p", "n_f", "Sochiai"]
]
spectra_max_ochiai["Rochiai"] = spectra_max_ochiai.Sochiai.rank(
    ascending=False, method="max"
)
print("Faulty method:")
display(
    spectra_max_ochiai.loc[
        spectra_max_ochiai.meth.isin(fault_meths)
    ].reset_index(drop=True)
)
print("Top 20 methods:")
display(spectra_max_ochiai.head(20).reset_index(drop=True))

[Op2]
Faulty method:

,meth,line,e_p,e_f,n_p,n_f,Sop2,Rop2
0,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1407,0,1,33,0,1.0,677.0

Top 20 methods:

,meth,line,e_p,e_f,n_p,n_f,Sop2,Rop2
0,"(/home/workspace/wsutil/time_util.c, mktime_utc)",58,0,1,33,0,1.0,677.0
1,"(/home/workspace/wsutil/report_message.c, report_failure)",54,0,1,33,0,1.0,677.0
2,"(/home/workspace/wsutil/nstime.c, nstime_sum)",127,0,1,33,0,1.0,677.0
3,"(/home/workspace/wsutil/filesystem.c, get_dirname)",154,0,1,33,0,1.0,677.0
4,"(/home/workspace/wiretap/wtap.c, wtap_sequential_close)",1207,0,1,33,0,1.0,677.0
5,"(/home/workspace/wiretap/visual.c, visual_open)",175,0,1,33,0,1.0,677.0
6,"(/home/workspace/wiretap/tnef.c, tnef_open)",24,0,1,33,0,1.0,677.0
7,"(/home/workspace/wiretap/snoop.c, snoop_open)",249,0,1,33,0,1.0,677.0
8,"(/home/workspace/wiretap/rfc7468.c, rfc7468_open)",80,0,1,33,0,1.0,677.0
9,"(/home/workspace/wiretap/rfc7468.c, read_complete_text_line)",41,0,1,33,0,1.0,677.0
10,"(/home/workspace/wiretap/radcom.c, radcom_open)",103,0,1,33,0,1.0,677.0
11,"(/home/workspace/wiretap/peektagged.c, peektagged_open)",268,0,1,33,0,1.0,677.0
12,"(/home/workspace/wiretap/pcapng.c, pcapng_write_enhanced_packet_block)",3376,0,1,33,0,1.0,677.0
13,"(/home/workspace/wiretap/pcapng.c, pcapng_read_block)",2545,0,1,33,0,1.0,677.0
14,"(/home/workspace/wiretap/pcapng.c, pcapng_open)",2703,0,1,33,0,1.0,677.0
15,"(/home/workspace/wiretap/ngsniffer.c, ngsniffer_open)",571,0,1,33,0,1.0,677.0
16,"(/home/workspace/wiretap/netxray.c, netxray_open)",458,0,1,33,0,1.0,677.0
17,"(/home/workspace/wiretap/network_instruments.c, network_instruments_open)",143,0,1,33,0,1.0,677.0
18,"(/home/workspace/wiretap/nettrace_3gpp_32_423.c, nettrace_3gpp_32_423_file_open)",1199,0,1,33,0,1.0,677.0
19,"(/home/workspace/wiretap/nettl.c, nettl_open)",192,0,1,33,0,1.0,677.0

[Ochiai]
Faulty method:

,meth,line,e_p,e_f,n_p,n_f,Sochiai,Rochiai
0,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1407,0,1,33,0,1.0,677.0

Top 20 methods:

,meth,line,e_p,e_f,n_p,n_f,Sochiai,Rochiai
0,"(/home/workspace/wsutil/time_util.c, mktime_utc)",58,0,1,33,0,1.0,677.0
1,"(/home/workspace/wsutil/report_message.c, report_failure)",54,0,1,33,0,1.0,677.0
2,"(/home/workspace/wsutil/nstime.c, nstime_sum)",127,0,1,33,0,1.0,677.0
3,"(/home/workspace/wsutil/filesystem.c, get_dirname)",154,0,1,33,0,1.0,677.0
4,"(/home/workspace/wiretap/wtap.c, wtap_sequential_close)",1207,0,1,33,0,1.0,677.0
5,"(/home/workspace/wiretap/visual.c, visual_open)",175,0,1,33,0,1.0,677.0
6,"(/home/workspace/wiretap/tnef.c, tnef_open)",24,0,1,33,0,1.0,677.0
7,"(/home/workspace/wiretap/snoop.c, snoop_open)",249,0,1,33,0,1.0,677.0
8,"(/home/workspace/wiretap/rfc7468.c, rfc7468_open)",80,0,1,33,0,1.0,677.0
9,"(/home/workspace/wiretap/rfc7468.c, read_complete_text_line)",41,0,1,33,0,1.0,677.0
10,"(/home/workspace/wiretap/radcom.c, radcom_open)",103,0,1,33,0,1.0,677.0
11,"(/home/workspace/wiretap/peektagged.c, peektagged_open)",268,0,1,33,0,1.0,677.0
12,"(/home/workspace/wiretap/pcapng.c, pcapng_write_enhanced_packet_block)",3376,0,1,33,0,1.0,677.0
13,"(/home/workspace/wiretap/pcapng.c, pcapng_read_block)",2545,0,1,33,0,1.0,677.0
14,"(/home/workspace/wiretap/pcapng.c, pcapng_open)",2703,0,1,33,0,1.0,677.0
15,"(/home/workspace/wiretap/ngsniffer.c, ngsniffer_open)",571,0,1,33,0,1.0,677.0
16,"(/home/workspace/wiretap/netxray.c, netxray_open)",458,0,1,33,0,1.0,677.0
17,"(/home/workspace/wiretap/network_instruments.c, network_instruments_open)",143,0,1,33,0,1.0,677.0
18,"(/home/workspace/wiretap/nettrace_3gpp_32_423.c, nettrace_3gpp_32_423_file_open)",1199,0,1,33,0,1.0,677.0
19,"(/home/workspace/wiretap/nettl.c, nettl_open)",192,0,1,33,0,1.0,677.0

## Line2Method voting (weight: sbfl score / dense rank)

In [8]:
print("[Op2]")
ballot_op2 = {}
spectra_max_op2 = spectra.copy().sort_values(
    ["Sop2", "meth", "line"], ascending=False
)
spectra_max_op2["Rop2D"] = spectra_max_op2.Sop2.rank(
    ascending=False, method="dense"
)
spectra_max_op2["vote"] = spectra_max_op2.Sop2 / spectra_max_op2.Rop2D
for row in spectra_max_op2.itertuples():
    if row.meth not in ballot_op2:
        ballot_op2[row.meth] = row.vote
    else:
        ballot_op2[row.meth] += row.vote
L2M_op2 = pd.DataFrame(
    {"meth": list(ballot_op2.keys()), "vote": list(ballot_op2.values())}
)
L2M_op2["rank"] = L2M_op2.vote.rank(ascending=False, method="max")
L2M_op2.sort_values("rank", inplace=True)
L2M_op2.reset_index(drop=True, inplace=True)
for fault_meth in fault_meths:
    print("Faulty method:")
    display(L2M_op2.loc[L2M_op2.meth == fault_meth].reset_index(drop=True))
    print("Voters:")
    display(
        spectra_max_op2.loc[spectra_max_op2.meth == fault_meth].reset_index(
            drop=True
        )
    )
print("Top 5 methods:")
display(L2M_op2.head(5).reset_index(drop=True))
for idx, top_meth in enumerate(L2M_op2.head(5).meth.tolist(), 1):
    print(f"Top {idx}:")
    display(L2M_op2.loc[L2M_op2.meth == top_meth].reset_index(drop=True))
    print("Voters:")
    display(
        spectra_max_op2.loc[spectra_max_op2.meth == top_meth].reset_index(
            drop=True
        )
    )
print()
print("[Ochiai]")
ballot_ochiai = {}
spectra_max_ochiai = spectra.copy().sort_values(
    ["Sochiai", "meth", "line"], ascending=False
)
spectra_max_ochiai["RochiaiD"] = spectra_max_ochiai.Sochiai.rank(
    ascending=False, method="dense"
)
spectra_max_ochiai["vote"] = (
    spectra_max_ochiai.Sochiai / spectra_max_ochiai.RochiaiD
)
for row in spectra_max_ochiai.itertuples():
    if row.meth not in ballot_ochiai:
        ballot_ochiai[row.meth] = row.vote
    else:
        ballot_ochiai[row.meth] += row.vote
L2M_ochiai = pd.DataFrame(
    {"meth": list(ballot_ochiai.keys()), "vote": list(ballot_ochiai.values())}
)
L2M_ochiai["rank"] = L2M_ochiai.vote.rank(ascending=False, method="max")
L2M_ochiai.sort_values("rank", inplace=True)
L2M_ochiai.reset_index(drop=True, inplace=True)
for fault_meth in fault_meths:
    print("Faulty method:")
    display(
        L2M_ochiai.loc[L2M_ochiai.meth == fault_meth].reset_index(drop=True)
    )
    print("Voters:")
    display(
        spectra_max_ochiai.loc[
            spectra_max_ochiai.meth == fault_meth
        ].reset_index(drop=True)
    )
print("Top 5 methods:")
display(L2M_ochiai.head(5).reset_index(drop=True))
for idx, top_meth in enumerate(L2M_ochiai.head(5).meth.tolist(), 1):
    print(f"Top {idx}:")
    display(L2M_ochiai.loc[L2M_ochiai.meth == top_meth].reset_index(drop=True))
    print("Voters:")
    display(
        spectra_max_ochiai.loc[spectra_max_ochiai.meth == top_meth].reset_index(
            drop=True
        )
    )

[Op2]
Faulty method:

                                                           meth  vote   rank
0  (/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)  9.0   239.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,Rop2D,vote
0,1407,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
1,1405,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
2,1404,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
3,1402,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
4,1397,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
5,1396,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
6,1394,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
7,1393,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
8,1389,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0

Top 5 methods:

,meth,vote,rank
0,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",105.000000,1.0
1,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",93.000000,2.0
2,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",87.838235,3.0
3,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",85.000000,4.0
4,"(/home/workspace/epan/tvbtest.c, run_tests)",77.161765,5.0

Top 1:

,meth,vote,rank
0,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",105.0,1.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,Rop2D,vote
0,2858,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
1,2857,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
2,2855,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
3,2852,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
4,2848,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,2553,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
101,2552,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
102,2551,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
103,2550,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
104,2548,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0

Top 2:

,meth,vote,rank
0,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",93.0,2.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,Rop2D,vote
0,801,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
1,799,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
2,796,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
3,794,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
4,793,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,538,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
89,537,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
90,536,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
91,535,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
92,508,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0

Top 3:

,meth,vote,rank
0,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",87.838235,3.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,Rop2D,vote
0,571,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294
1,570,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294
2,569,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294
3,568,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294
4,567,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,335,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294
177,330,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294
178,328,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294
179,327,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294
180,325,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.485294

Top 4:

                                                   meth  vote  rank
0  (/home/workspace/epan/tvbuff.c, tvb_get_string_time)  85.0  4.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,Rop2D,vote
0,1880,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
1,1877,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
2,1876,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
3,1875,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
4,1874,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,1673,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
81,1672,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
82,1671,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
83,1670,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
84,1667,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0

Top 5:

                                          meth       vote  rank
0  (/home/workspace/epan/tvbtest.c, run_tests)  77.161765  5.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,Rop2D,vote
0,486,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294
1,485,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294
2,483,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294
3,482,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294
4,481,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,284,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294
155,283,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294
156,282,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294
157,280,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294
158,278,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/tvbtest.c,run_tests,"(/home/workspace/epan/tvbtest.c, run_tests)",2.0,0.485294

[Ochiai]
Faulty method:

                                                           meth  vote   rank
0  (/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)  9.0   219.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,RochiaiD,vote
0,1407,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
1,1405,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
2,1404,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
3,1402,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
4,1397,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
5,1396,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
6,1394,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
7,1393,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0
8,1389,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_tvb.c,TvbRange__tostring,"(/home/workspace/epan/wslua/wslua_tvb.c, TvbRange__tostring)",1.0,1.0

Top 5 methods:

,meth,vote,rank
0,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",105.000000,1.0
1,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",93.000000,2.0
2,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",85.000000,3.0
3,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",72.000000,4.0
4,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",63.993164,5.0

Top 1:

,meth,vote,rank
0,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",105.0,1.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,RochiaiD,vote
0,2858,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
1,2857,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
2,2855,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
3,2852,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
4,2848,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,2553,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
101,2552,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
102,2551,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
103,2550,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0
104,2548,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/dissectors/packet-sip.c,dissect_sip_via_header,"(/home/workspace/epan/dissectors/packet-sip.c, dissect_sip_via_header)",1.0,1.0

Top 2:

,meth,vote,rank
0,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",93.0,2.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,RochiaiD,vote
0,801,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
1,799,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
2,796,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
3,794,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
4,793,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,538,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
89,537,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
90,536,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
91,535,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0
92,508,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_new,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_new)",1.0,1.0

Top 3:

                                                   meth  vote  rank
0  (/home/workspace/epan/tvbuff.c, tvb_get_string_time)  85.0  3.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,RochiaiD,vote
0,1880,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
1,1877,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
2,1876,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
3,1875,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
4,1874,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,1673,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
81,1672,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
82,1671,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
83,1670,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0
84,1667,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/tvbuff.c,tvb_get_string_time,"(/home/workspace/epan/tvbuff.c, tvb_get_string_time)",1.0,1.0

Top 4:

,meth,vote,rank
0,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",72.0,4.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,RochiaiD,vote
0,937,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0
1,935,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0
2,932,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0
3,930,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0
4,929,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,808,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0
68,807,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0
69,806,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0
70,805,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0
71,804,0,1,33,0,1.0,1.0,5026.0,5026.0,/home/workspace/epan/wslua/wslua_proto_field.c,ProtoField_integer,"(/home/workspace/epan/wslua/wslua_proto_field.c, ProtoField_integer)",1.0,1.0

Top 5:

,meth,vote,rank
0,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",63.993164,5.0

Voters:

,line,e_p,e_f,n_p,n_f,Sop2,Sochiai,Rop2,Rochiai,file,func,meth,RochiaiD,vote
0,571,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553
1,570,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553
2,569,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553
3,568,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553
4,567,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,335,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553
177,330,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553
178,328,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553
179,327,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553
180,325,1,1,32,0,0.970588,0.707107,7696.0,7696.0,/home/workspace/epan/reassemble_test.c,test_fragment_add_seq_partial_reassembly,"(/home/workspace/epan/reassemble_test.c, test_fragment_add_seq_partial_reassembly)",2.0,0.353553

# ê°ìƒ

Max aggregationìœ¼ë¡œ topì´ì§€ë§Œ ê·¸ê²Œ 677ê°œ. line ìˆ˜ê°€ ë§Žì€ íŽ¸ì´ ì•„ë‹ˆì–´ì„œ votingìœ¼ë¡œë„ ì„±ì ì´ ì¢‹ì§€ ì•ŠìŒ